<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>최근방송</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gothic+A1&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <img src="/static/images/logo.png" alt="Logo">
        <!-- <div>너의 목소리가 읽혀</div> -->
    </header>
    
    <main>
        <!-- 방송 타임라인 -->
        <section id="broadcast-list">
            <h2>- 방송 타임라인</h2>
            <div class="box">
                <!-- <h3>방송 타임라인</h3> -->
                <div class="timeline" id="timeline">
                    <!-- JavaScript로 동적 추가 -->
                </div>
            </div>
        </section>
    </main>

    <script src="/static/scripts.js"></script>
</body>
</html>
